* {
    box-sizing: border-box;
    font-size: 2vw;
}
div { //border: thin dotted red; }

header {
    border: 1px solid green;
    padding: 15px;
    font-size: 4vw;
}

nav {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid rgb(19, 0, 128);
}

main {
    width: 50%;
    float: left;
    padding: 15px;
    border: 1px solid rgb(19, 0, 128);
}

aside {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid rgb(19, 0, 128);
}

footer {
    padding: 15px;
    border: 1px solid rgb(19, 0, 128);
}

section {
}

article {
}
